
/* Patient.css */
.patient-page {
    font-family: 'Arial', sans-serif;
    background-image: url('../../../../public/images/medical.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.no-patient-found {
    margin-right: 8%;
    margin-top: 1%;
    color: red;
    font-weight: bold;
}


.table th,
.table td {
    color: white;
    background-color: transparent;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
}

    .search-bar input {
        /* display:flex; */
        width: 50%;
        padding: 10px;
        margin-right: 9%;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

@media (max-width: 1199.5px) {
    .appointments-box {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .appointments-box {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .appointments-box {
        width: 95%;
    }
}

@media (max-width: 360px) {
    .appointments-box {
        width: 100%;
    }
}
